body{
    background:black;
}

.box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
}
.box div{
    position:relative;
    width:40px;
    height:40px;
    border-bottom:1px solid white;
    border-right:1px solid white;
    transform:rotate(45deg);
    margin:-5px auto;
    transition:.5s;
    opacity:0;
    animation:animate 2s infinite;
}
.box div:nth-child(2){
    
    animation-delay:-0.2s;
    
}

.box div:nth-child(3){
    
    
    animation-delay:-0.4s;

}

@keyframes animate{
    0%
    {
        opacity:0;
        transform:rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity:1;
        
    }
    100%{
        opacity:0;
        transform:rotate(45deg) translate(20px,20px);
    }
    
    
}